/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/


@keyframes arrow {
    0% {
        transform: translate(0px);
    }

    100% {
        transform: translate(4px);
    }
}

.sparks {
    opacity: 0;
}


/* hover */

.card__icon-button .core {
    transition: fill 0.3s 0.03s linear;
}

.card__icon-button:hover .core {
    fill: var(--contour);
    transition: fill 0.3s linear;
}

.card__icon-button .main-body {
    transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
    fill: var(--contour);
    transition: fill 0.3s 0.05s linear;
}

/* active */

.card__icon-button:active .core {
    fill: var(--main-body);
    transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
    fill: var(--main-body);
    transition: fill 0.3s 0.05s linear;
}

/* like */

.like-icon.is-liked .core {
    fill: var(--main-body);
    transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
    fill: var(--main-body);
    transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
    fill: var(--main-body);
    transition: fill 0.3s 0.06s linear;
}

.like-icon .contour {
    fill: var(--contour);
    transition: fill linear;
}

@keyframes scale {
    100% {
        scale: 1.5;
    }
}

.like-icon.is-liked .heart {
    animation: scale 0.3s 0.1s ease-in alternate;
    transform-origin: 50% 50%;
}

@keyframes sparks {
    100% {
        opacity: 1;
    }
}

.like-icon.is-liked .sparks {
    animation: sparks 0.3s 0.3s ease-in alternate;
}