/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font), Arial, sans-serif;
  font-variation-settings: 'wght' var(--weight);
  background-color: var(--background-color);
  color: var(--color);
  background-size: cover;
  background-image: var(--linear-gradient);
  background-attachment: fixed;
}

.content {
  width: var(--width);
  margin: 0 auto;
  background-color: var(--background-color);
}

.header {
  display: grid;
  gap: 25px;
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  padding-block-end: 25px;
  margin-block-start: 102px;
  margin-block-end: 102px;
  font-family: var(--accent-font), monospace;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;  
}

.header_container {
  display: grid;
  gap: 20px;
}

.header_container-logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: inherit;
}

.header_container-title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  display: grid;
  gap: 12px;
  font-size: 14px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
}

.theme-menu__button:disabled {
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "\25B6";
}

.section_card {
  margin-bottom: 55px;
}

.section_card-title {
  font-size: 18px;
  padding: 5px 10px;
  font-variation-settings: 'wght' var(--weight-title);
}

.section_card-image {
  position: relative;
}

.card-image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.label {
  position: absolute;
  top: 25px;
  right: clamp(0.813rem, 0.548rem + 1.127vw, 1.563rem);
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0.5;
  text-shadow:
    -1px 0 var(--background-color), 
    0 1px var(--background-color), 
    1px 0 var(--background-color), 
    0 -1px var(--background-color);
}

@supports((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
  .label {
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
    text-shadow: none
  }
} 

.content_card-text {
  display: grid;
  gap: 27px;
  padding: 25px;
  font-size: 18px;
  line-height: 21px; /* 116.667% */
}

.content_card-button {
  display: flex;
  justify-content: flex-end;
  padding-block-end: 25px;
  padding-inline-end: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
}

.card__icon-button{
  background-color: transparent;
  border: none;
}

.card__like-button {
  background-color: transparent;
  border: 1px solid var(--color);
  width: 130px;
  height: 38px;
}