/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
    --weight: 400;
    --weight-title: 700;
    --background-color: #fff;
    --color: #000;
    --linear-gradient: 
        repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px), 
        repeating-linear-gradient(0deg, #d3d3d3 0 2px, transparent 2px 4px), 
        linear-gradient( #e7e7e7 0%, #e7e7e7 0.1%, #1a1a1a 100%);

    /* heart */
    --contour: #000;
    --main-body: red;
}

:root.theme-dark {
    --weight: 465;
    --weight-title: 785;
    --background-color: #000;
    --color: #00CC14;
    --linear-gradient:
        repeating-linear-gradient(90deg, #000 0 2px, transparent 2px 4px), 
        repeating-linear-gradient(0deg, #000 0 2px, transparent 2px 4px), 
        linear-gradient( #007f0c 0%, #004306 100%);

    --button-color: #00CC14;
    --button-bg: #000;
    --button-text: #00CC14;

    /* heart */
    --contour: #00CC14;
    --main-body: red;
}

@media (prefers-color-scheme: dark) {
    :root {
        --weight: 465;
        --weight-title: 785;
        --background-color: #000;
        --color: #00CC14;
        --linear-gradient:
            repeating-linear-gradient(90deg, #000 0 2px, transparent 2px 4px), 
            repeating-linear-gradient(0deg, #000 0 2px, transparent 2px 4px), 
            linear-gradient( #007f0c 0%, #004306 100%);
        

        --button-color: #00CC14;
        --button-bg: #000;
        --button-text: #00CC14;

        /* heart */
        --contour: #00CC14;
        --main-body: red;
    }
}