/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --font: Inter-Variable;
    --accent-font: PressStart2P;
    --weight: 400;
    --weight-title: 700;
    --background-color: #fff;
    --color: #000;
    --first-linear-gradient: repeating-linear-gradient(90deg, #d3d3d3, transparent 2px);
    --next-lineral-gradient: repeating-linear-gradient(180deg, #d3d3d3 0.01%, #1a1a1a 100% 2px);
}